# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# C# files
[*.cs]
indent_style = tab
indent_size = 4
csharp_new_line_before_open_brace = none
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = no_change

# .NET Coding Conventions
dotnet_naming_rule.public_identifiers_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.public_identifiers_should_be_pascal_case.symbols = public_identifiers
dotnet_naming_rule.public_identifiers_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.public_identifiers.applicable_kinds = method, field, event, property, indexer
dotnet_naming_symbols.public_identifiers.applicable_accessibilities = public, protected, protected_internal, private_protected

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_rule.private_identifiers_should_be_prefixed_with_m.severity = suggestion
dotnet_naming_rule.private_identifiers_should_be_prefixed_with_m.symbols = private_identifiers
dotnet_naming_rule.private_identifiers_should_be_prefixed_with_m.style = m_prefix_style

dotnet_naming_symbols.private_identifiers.applicable_kinds = field
dotnet_naming_symbols.private_identifiers.applicable_accessibilities = private

dotnet_naming_style.m_prefix_style.required_prefix = m_
dotnet_naming_style.m_prefix_style.capitalization = camel_case

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true

# Prefer 'using' directives inside namespace
csharp_using_directive_placement = inside_namespace

